@import '../../../../themes/vars.less';
.type-ocr-template-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: @page-background-color;
  :global {
    .suid-list-card .ant-card-body .suid-list-card-body .ant-list-item {
      background-color: @white;
      &:hover {
        background-color: @white;
      }
    }
    .trigger-map {
      border-color: transparent;
      border-top-width: 2px;
      .anticon {
        margin-left: 4px;
      }
      &.ant-dropdown-open {
        color: fade(@black, 65%);
        font-weight: 700;
        background-color: #fafafa;
        border-top-color: @primary-color;
        border-radius: 3px 3px 0 0;
        .anticon {
          font-size: 11px;
        }
      }
      &:focus {
        color: fade(@black, 65%);
      }
    }
  }
}

.float-tool {
  :global {
    .ant-drawer-content-wrapper {
      box-shadow: none !important;
    }
    .ant-drawer-body {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 24px;
      line-height: 44px;
      background-color: @white;
    }
  }
}
