@import '../../../themes/vars.less';

.container-box {
  position: relative;
  padding: 0;
  background-color: @page-background-color;
  :global {
    .service-box {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: stretch;
      width: 1200px;
      min-width: 800px;
      height: 100%;
      min-height: 94vh;
      margin: auto;
      padding: 40px;
      .service-item {
        position: relative;
        box-sizing: border-box;
        width: 280px;
        height: 420px;
        margin: 20px;
        padding: 40px 18px 40px;
        border: 2px solid rgba(0, 0, 0, 0);
        &.ant-card {
          padding: 0;
          .action-box {
            position: absolute;
            top: 8px;
            right: 8px;
            & > i {
              display: inline-block;
              width: 24px;
              height: 24px;
              line-height: 26px;
              border-radius: 4px;
              cursor: pointer;
              &.ant-dropdown-open,
              &:hover {
                color: @primary-color;
                background-color: fade(@black, 5%);
              }
            }
          }
        }
        &.trigger-blank {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #eee;
          text-align: center;
          background-color: @white;
          border: 2px dashed @border-color-base;
          border-radius: @border-radius-base;
          cursor: pointer;
          transition: all 0.3s;
          .anticon {
            font-size: 64px;
          }
          .blank-text {
            color: rgba(0, 0, 0, 0.35);
            transition: all 0.3s;
          }
          &.show-form-modal,
          &:hover {
            color: @primary-color;
            box-shadow: @box-shadow-base;
            .blank-text {
              color: rgba(0, 0, 0, 0.65);
            }
          }
        }
        .ant-avatar {
          font-weight: 700;
          &.frozen {
            background-color: #8d918c;
          }
          &.active {
            background-color: #87d068;
          }
        }
        .ant-card-cover {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 280px;
          padding: 24px;
        }
      }
    }
  }
}
